/* ==UserStyle==
@name           MastoFE dense post layout
@description    Rearranges messages to use all available width, with much more area for images
@version        2.7.0+glitchsoc
@homepageURL    https://gitlab.com/flussence/masto-css
@supportURL     https://gitlab.com/flussence/masto-css/issues
@namespace      flussence.eu
@author         @flussence@nulled.red
@license        AGPL-3.0-or-later
@var    text    gutter      "Blank space around posts"  0.6em
@var    text    line-height "Message text line height"  18px
@var    text    avatar-size "Avatar size"               48px
==/UserStyle== */
@-moz-document regexp("https://[^/]+/web/.*") {
  #mastodon div.status {
    box-sizing: border-box;
    padding: var(--gutter); }
    #mastodon div.status__info {
      box-sizing: border-box;
      display: flex;
      width: calc(100% - var(--avatar-size)); }
      #mastodon div.status__info .status__relative-time {
        padding-right: 1ch;
        white-space: nowrap; }
      #mastodon div.status__info .status__display-name {
        flex: 1;
        overflow: hidden;
        padding-right: 0;
        text-overflow: ellipsis; }
      #mastodon div.status__info + .status__content::before {
        --avatar-gutter: calc(var(--gutter) + var(--avatar-size))
            ;
        content: " ";
        display: block;
        float: right;
        width: var(--avatar-gutter);
        height: var(--avatar-gutter);
        margin-top: calc(var(--gutter) * -1 - var(--line-height)); }
    #mastodon div.status__avatar {
      left: auto;
      top: auto;
      right: var(--gutter); }
  #mastodon div.status__prepend, #mastodon div.notification__message {
    margin: 0 var(--gutter); }
  #mastodon .status__prepend-icon-wrapper, #mastodon div > .notification__favourite-icon-wrapper {
    float: left;
    position: static; } }
