/* ==UserStyle==
@name           MastoFE anti-clickjacking
@description    Disables the boost/fav buttons until you hover the mouse over them for long enough
@version        2.6.5
@homepageURL    https://gitlab.com/flussence/masto-css
@supportURL     https://gitlab.com/flussence/masto-css/issues
@namespace      flussence.eu
@author         @flussence@nulled.red
@license        AGPL-3.0-or-later
@var    number  hover-delay "Seconds before enabling buttons"   [0.4, 0.1, 2.0, 0.1, "s"]
@var    number  initial-opacity "Opacity of inactive buttons"   [0.2, 0.0, 1.0, 0.1]
@var    number  clicked-opacity "Opacity of used buttons"       [0.7, 0.0, 1.0, 0.1]
==/UserStyle== */
@-moz-document regexp("https://[^/]+/web/.*") {
  .status__action-bar > .status__action-bar-button:not(.disabled) {
    opacity: var(--initial-opacity);
    z-index: -1; }
    .status__action-bar > .status__action-bar-button:not(.disabled).active {
      --initial-opacity: var(--clicked-opacity) ; }
    .status:hover .status__action-bar > .status__action-bar-button:not(.disabled) {
      opacity: 1;
      z-index: 0;
      transition: opacity calc(var(--hover-delay) / 2) ease-in calc(var(--hover-delay) / 2), z-index var(--hover-delay) step-end; } }
