/* ==UserStyle==
@name           MastoFE layout bugfixes
@description    This file shouldn't have to exist. But it does.
@version        2.9.0
@homepageURL    https://gitlab.com/flussence/masto-css
@supportURL     https://gitlab.com/flussence/masto-css/issues
@namespace      flussence.eu
@author         @flussence@nulled.red
@license        AGPL-3.0-or-later
==/UserStyle== */
@-moz-document regexp("https://[^/]+/web/.*") {
  /* .system-font doesn't actually respect your system font, and Roboto (the first choice on the
   * list) looks like garbage. To override masto-fe's fonts with Ubuntu here, *uncheck* “Use
   * system's default font” in the prefs.
   */
  @font-face {
    font-family: 'mastodon-font-sans-serif';
    font-style: italic;
    src: local("Ubuntu");
  }
  @font-face {
    font-family: 'mastodon-font-sans-serif';
    font-weight: bold;
    src: local("Ubuntu Bold");
  }
  @font-face {
    font-family: 'mastodon-font-sans-serif';
    font-weight: 500;
    src: local("Ubuntu Medium");
  }
  @font-face {
    font-family: 'mastodon-font-sans-serif';
    src: local("Ubuntu");
  }
  #mastodon {
    // replies had this changed to a single arrow for no reason in 2.6.5
    .status-reply .fa-reply::before
      { content: "\F122" }

    // I have no idea what would possess someone to create something this brittle
    .status__expand
      { cursor: zoom-in
      ; width: var(--gutter, 8px) }

    // This button (and only this one), despite being rendered using a webfont, inexplicably has a
    // background image with pixel droppings due to bad (fractional pixel size) cropping.
    button.icon-button i.fa-retweet
      { background-image: none !important
      ; &::before // pleroma has all the GUI design expertise of mid-2000s gnome developers
          { display: inline !important } }

    // add some warning so that you don't accidentally reply to an ancient post
    time[datetime^="2016"],
    time[datetime^="2017"],
    time[datetime^="2018"]
      { text-decoration: underline wavy red }
  }
}
// vim: sw=2
